In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv("/content/adult_with_headers (1).csv")
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

therefore, there are no null values. No imputations or deletion required

In [7]:
from sklearn.preprocessing import StandardScaler #for standardizing the numerical data
sc= StandardScaler()

In [8]:
df_num= df.select_dtypes(include='int64')
arr=df_num.values
arr

array([[    39,  77516,     13,   2174,      0,     40],
       [    50,  83311,     13,      0,      0,     13],
       [    38, 215646,      9,      0,      0,     40],
       ...,
       [    58, 151910,      9,      0,      0,     40],
       [    22, 201490,      9,      0,      0,     20],
       [    52, 287927,      9,  15024,      0,     40]])

In [9]:
# fit and transforms the data
n_sc=sc.fit_transform(arr)
n_sc

array([[ 0.03067056, -1.06361075,  1.13473876,  0.1484529 , -0.21665953,
        -0.03542945],
       [ 0.83710898, -1.008707  ,  1.13473876, -0.14592048, -0.21665953,
        -2.22215312],
       [-0.04264203,  0.2450785 , -0.42005962, -0.14592048, -0.21665953,
        -0.03542945],
       ...,
       [ 1.42360965, -0.35877741, -0.42005962, -0.14592048, -0.21665953,
        -0.03542945],
       [-1.21564337,  0.11095988, -0.42005962, -0.14592048, -0.21665953,
        -1.65522476],
       [ 0.98373415,  0.92989258, -0.42005962,  1.88842434, -0.21665953,
        -0.03542945]])

In [10]:
from sklearn.preprocessing import MinMaxScaler
mn= MinMaxScaler()
n_mn=mn.fit_transform(arr)  # fit and transforms the data
n_mn

array([[0.30136986, 0.0443019 , 0.8       , 0.02174022, 0.        ,
        0.39795918],
       [0.45205479, 0.0482376 , 0.8       , 0.        , 0.        ,
        0.12244898],
       [0.28767123, 0.13811345, 0.53333333, 0.        , 0.        ,
        0.39795918],
       ...,
       [0.56164384, 0.09482688, 0.53333333, 0.        , 0.        ,
        0.39795918],
       [0.06849315, 0.12849934, 0.53333333, 0.        , 0.        ,
        0.19387755],
       [0.47945205, 0.18720338, 0.53333333, 0.1502415 , 0.        ,
        0.39795918]])

**standardscaler** is used when the data is normally ditributed or has outliers.it imroves numerical stability as the features are marked with mean=0 and standard deviation=1


**MinMaxScalier** is used when data does not follow a normal distribution or has a fixed range requirements.It ensures all features contribute equally by kepping data between 0 and 1.

2

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [12]:
df['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [13]:
df['income'].unique()

array([' <=50K', ' >50K'], dtype=object)

these two categorical columns have less than 5 categories.so, we are applying One-Hot Encoding.

In [14]:
from sklearn.preprocessing import OneHotEncoder
oe=OneHotEncoder()

gender=oe.fit_transform(df[['sex']]).toarray().astype('int')  # fit and transforms the data
encoded=pd.DataFrame(gender,columns=['Female','Male'])
encoded.head()

   Female  Male
0       0     1
1       0     1
2       0     1
3       0     1
4       1     0

In [15]:
final=df.join(encoded)

In [16]:
final.drop('sex',axis=1,inplace=True)

In [17]:
final.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,income,Female,Male
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,2174,0,40,United-States,<=50K,0,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,13,United-States,<=50K,0,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,40,United-States,<=50K,0,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,40,United-States,<=50K,0,1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,40,Cuba,<=50K,1,0

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

for col in final.select_dtypes(include='object').columns:
    final[col] = le.fit_transform(final[col])

final

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,income,Female,Male
0,39,7,77516,9,13,4,1,1,4,2174,0,40,39,0,0,1
1,50,6,83311,9,13,2,4,0,4,0,0,13,39,0,0,1
2,38,4,215646,11,9,0,6,1,4,0,0,40,39,0,0,1
3,53,4,234721,1,7,2,6,0,2,0,0,40,39,0,0,1
4,28,4,338409,9,13,2,10,5,2,0,0,40,5,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,4,0,0,38,39,0,1,0
32557,40,4,154374,11,9,2,7,0,4,0,0,40,39,1,0,1
32558,58,4,151910,11,9,6,1,4,4,0,0,40,39,0,1,0
32559,22,4,201490,11,9,4,1,3,4,0,0,20,39,0,0,1
32560,52,5,287927,11,9,2,4,5,4,15024,0,40,39,1,1,0

In [19]:
final

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,income,Female,Male
0,39,7,77516,9,13,4,1,1,4,2174,0,40,39,0,0,1
1,50,6,83311,9,13,2,4,0,4,0,0,13,39,0,0,1
2,38,4,215646,11,9,0,6,1,4,0,0,40,39,0,0,1
3,53,4,234721,1,7,2,6,0,2,0,0,40,39,0,0,1
4,28,4,338409,9,13,2,10,5,2,0,0,40,5,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,4,0,0,38,39,0,1,0
32557,40,4,154374,11,9,2,7,0,4,0,0,40,39,1,0,1
32558,58,4,151910,11,9,6,1,4,4,0,0,40,39,0,1,0
32559,22,4,201490,11,9,4,1,3,4,0,0,20,39,0,0,1
32560,52,5,287927,11,9,2,4,5,4,15024,0,40,39,1,1,0

this is final standardized and normalized dataframe

In [20]:
final.describe()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,income,Female,Male
count,32561.000000,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,3.868892,1.897784e+05,10.298210,10.080679,2.611836,6.572740,1.446362,3.665858,1077.648844,87.303830,40.437456,36.718866,0.240810,0.330795,0.669205
std,13.640433,1.455960,1.055500e+05,3.870264,2.572720,1.506222,4.228857,1.606771,0.848806,7385.292085,402.960219,12.347429,7.823782,0.427581,0.470506,0.470506
min,17.000000,0.000000,1.228500e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,4.000000,1.178270e+05,9.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.000000,0.000000,40.000000,39.000000,0.000000,0.000000,0.000000
50%,37.000000,4.000000,1.783560e+05,11.000000,10.000000,2.000000,7.000000,1.000000,4.000000,0.000000,0.000000,40.000000,39.000000,0.000000,0.000000,1.000000
75%,48.000000,4.000000,2.370510e+05,12.000000,12.000000,4.000000,10.000000,3.000000,4.000000,0.000000,0.000000,45.000000,39.000000,0.000000,1.000000,1.000000
max,90.000000,8.000000,1.484705e+06,15.000000,16.000000,6.000000,14.000000,5.000000,4.000000,99999.000000,4356.000000,99.000000,41.000000,1.000000,1.000000,1.000000

In [21]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  int64
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  int64
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  int64
 6   occupation      32561 non-null  int64
 7   relationship    32561 non-null  int64
 8   race            32561 non-null  int64
 9   capital_gain    32561 non-null  int64
 10  capital_loss    32561 non-null  int64
 11  hours_per_week  32561 non-null  int64
 12  native_country  32561 non-null  int64
 13  income          32561 non-null  int64
 14  Female          32561 non-null  int64
 15  Male            32561 non-null  int64
dtypes: int64(16)
memory usage: 4.0 MB

all are in int64 datatype as we encoded them

In [22]:
final.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
Female            0
Male              0
dtype: int64

no null values in the column

**One-hot Encoding**

pros
* treats all categores equally.
* works well with linear models

cons
* increases the number of features
* high memory usage

**Label Encoding**

pros
* simple and fast
* no extra columns are created

cons
* not suitable for nominal catergory type of data

3

In [23]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [24]:
df['age'].unique()

array([39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 23, 32, 40, 34, 25, 43,
       54, 35, 59, 56, 19, 20, 45, 22, 48, 21, 24, 57, 44, 41, 29, 18, 47,
       46, 36, 79, 27, 67, 33, 76, 17, 55, 61, 70, 64, 71, 68, 66, 51, 58,
       26, 60, 90, 75, 65, 77, 62, 63, 80, 72, 74, 69, 73, 81, 78, 88, 82,
       83, 84, 85, 86, 87])

In [25]:
def age_category(age):
    if age < 25:
        return 'Young'
    elif age < 45:
        return 'Middle-aged'
    elif age < 65:
        return 'Senior'
    else:
        return 'Elder'

df['age_group'] = df['age'].apply(age_category)

In [26]:
def hours_category(hours):
    if hours <= 30:
        return 'Part-time'
    elif hours <= 40:
        return 'Full-time'
    elif hours <= 60:
        return 'Overtime'
    else:
        return 'Extreme'

df['hours_per_week_label'] = df['hours_per_week'].apply(hours_category)

In [27]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,age_group,hours_per_week_label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Middle-aged,Full-time
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Senior,Part-time
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Middle-aged,Full-time
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Senior,Full-time
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Middle-aged,Full-time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,Middle-aged,Full-time
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,Middle-aged,Full-time
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,Senior,Full-time
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,Young,Part-time
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,Senior,Full-time

As income often varies by age group because the older people might earn more and hours_per_week_Label label the data and gives clear picture of the type of job the person is doing

In [28]:
df[['capital_gain', 'capital_loss', 'hours_per_week', 'age','education_num']].skew()

capital_gain      11.953848
capital_loss       4.594629
hours_per_week     0.227643
age                0.558743
education_num     -0.311676
dtype: float64

Capital_gain and capital_loss are highly skewed and other columns does not No transformation needed

In [34]:
df['capital_gain_log'] = np.log(df['capital_gain'] + 1)
df['capital_loss_log'] = np.log(df['capital_loss'] + 1)
df[['capital_gain_log', 'capital_loss_log']].skew()

capital_gain_log    3.096144
capital_loss_log    4.307537
dtype: float64

still value is greater than +1.we should apply cube root

In [32]:
df['cag_gain_cuberoot'] = np.sqrt(df['capital_gain_log'])
df['cag_loss_cuberoot'] = np.sqrt(df['capital_loss_log'])
df[['cag_gain_cuberoot', 'cag_loss_cuberoot']].skew()

cag_gain_cuberoot    3.035747
cag_loss_cuberoot    4.301813
dtype: float64

even after this transformation the skewness has not decreased.so, either have to drop the columns as it contains many zeroes in the column